.section-classes {
    padding: 2.9rem 0 5.35rem 0;
    @media (min-width: map-get($breakpoints, sm)) {
        padding: 5.9rem 0 10.7rem 0;
    }
    @media (min-width: map-get($breakpoints, lg)) {
        padding: 11.1rem 0 21.4rem 0;
    }
}

.section-about {
    @include flex(center, center);
    min-height: 650px;
    padding: 2rem 0;

    &__text {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 400;
        color: $textColor;
        @media (min-width: map-get($breakpoints, lg)) {
            max-width: 470px;
        }
    }

    .section-title {
        text-align: center;
        margin-top: 1.3rem;
        @media (min-width: map-get($breakpoints, lg)) {
            text-align: start;
        }
    }
}

.section-results {
    background-image: url(../images/bg-02.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 5rem 0;
    position: relative;
    @media (min-width: map-get($breakpoints, sm)) {
        padding: 10rem 0 10rem 0;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $primaryColor, $alpha: .5);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.section-plans {
    padding: 5rem 0;
    background-image: url(../images/bg-03.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: map-get($breakpoints, lg)) {
        padding: 10rem 0 11rem 0;
    }
}
