.slider {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  @media (min-width: map-get($breakpoints, lg)) {
    margin-top: 0;
  }
  
  &__item {
    max-width: 570px;
    width: 100%;
    max-height: 300px;
  }
  
  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .slick-arrow {
    font-size: 0;
    border: none;
    padding: 0;
    outline: none;
    width: 50px;
    height: 50px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 100;
    cursor: pointer;
  }

  .slick-prev::before, .slick-next::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid $primaryColor;
    border-right: 2px solid $primaryColor;
    position: absolute;
    top: calc(50% - 6px);
  }

  .slick-prev {
    top: calc(50% - 25px);
    left: 0;
    @media (min-width: 650px) {
      left: -25px;
    }

    &::before {
      transform: rotate(135deg);
      left: calc(50% - 3px);
    }
  }

  .slick-next {
    top: calc(50% - 25px);
    right: 0;
    @media (min-width: 650px) {
      right: -25px;
    }

    &::before {
      transform: rotate(-45deg);
      left: calc(50% - 11px);
    }
  }
}